<section class="advantage">
    <div class="container">
        <h2 class="hide">Переваги</h2>
        <!-- в css спрячем-->
        <ul class="advantage-list">


            <li class="advantage-list-li">
                <div class="wrap-icon" href="#"><svg class="advantage-icon" width="70" height="70">
                    <use href="./image/icons.svg#icon-antenna-1"></use>
                    </svg>
                </div>
                <h3 class="advantage-tittle">УВАГА ДО ДЕТАЛЕЙ</h3>
                <p class="advantage-p">
                    Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
                </p>
            </li>



            <li class="advantage-list-li">
                <div class="wrap-icon" href="#"><svg class="advantage-icon" width="70" height="70">
                    <use href="./image/icons.svg#icon-clock-1"></use>
                    </svg></div>
                <h3 class="advantage-tittle">ПУНКТУАЛЬНІСТЬ</h3>
                <p class="advantage-p">
                    Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
                </p>
            </li>


            <li class="advantage-list-li">
                <div class="wrap-icon" href="#"><svg class="advantage-icon" width="70" height="70">
                    <use href="./image/icons.svg#icon-diagram-1"></use>
                    </svg>
                </div>
                <h3 class="advantage-tittle">ПЛАНУВАННЯ</h3>
                <p class="advantage-p">
                    Так само консультація з широким активом значною мірою зумовлює.
                </p>
            </li>

            <li class="advantage-list-li">
                <div class="wrap-icon" href="#"><svg class="advantage-icon" width="70" height="70">
                    <use href="./image/icons.svg#icon-astronaut-1"></use>
                    </svg>
                </div>
                <h3 class="advantage-tittle">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
                <p class="advantage-p">
                    Значимість цих проблем настільки очевидна, що реалізація планових завдань.
                </p>
            </li>
        </ul>
    </div>
</section>