<section class="our-team ">
    <div class="container ">
        <h2 class="tittle ">Наша команда</h2>


        <ul class="team ">

            <li class="team-list ">
                <img class="team-img " src="./image/img.jpg " alt="дизайнер " width="270 " height="260 " />

                <div class="team-img-text ">
                    <h3 class="team-name ">Ігор Дем'яненко</h3>
                    <p class="team-speciality ">Product Designer</p>



                    <ul class="team-social-ul ">
                        <li class="team-social-li ">
                            <a href=" # " target="_blank " class="team-link ">
                                <svg class="team-icon " width="20 " height="20 ">
                              <use href="./image/icons.svg#icon-instagram-21 "></use>
                            </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a href=" # " target="_blank " class="team-link ">
                                <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-twitter-1 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a href=" # " target="_blank " class="team-link ">
                                <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-facebook-11 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a href=" # " target="_blank " class="team-link ">
                                <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-linkedin-1 "></use>
                              </svg></a>
                        </li>
                </div>
            </li>

            <li class="team-list ">
                <img class="team-img " src="./image/ольга.jpg " alt="розробник " width="270 " height="260 " />

                <div class="team-img-text ">
                    <h3 class="team-name ">Ольга Рєпіна</h3>
                    <p class="team-speciality ">Frontend Developer</p>

                    <ul class="team-social-ul ">
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link ">
                                <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-instagram-21 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-twitter-1 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-facebook-11 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-linkedin-1 "></use>
                              </svg></a>
                        </li>


                </div>
            </li>

            <li class="team-list ">
                <img class="team-img " src="./image/Микола.jpg " alt="реклама " width="270 " height="260 " />

                <div class="team-img-text ">
                    <h3 class="team-name ">Микола Тарасов</h3>
                    <p class="team-speciality ">Marketing</p>

                    <ul class="team-social-ul ">
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-instagram-21 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-twitter-1 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-facebook-11 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-linkedin-1 "></use>
                              </svg></a>
                        </li>
                </div>
            </li>

            <li class="team-list ">
                <img class="team-img " src="./image/Михайло.jpg " alt="дизайнер " width="270 " height="260 " />

                <div class="team-img-text ">
                    <h3 class="team-name ">Михайло Єрмаков</h3>
                    <p class="team-speciality ">UI Designer</p>

                    <ul class="team-social-ul ">
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-instagram-21 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-twitter-1 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-facebook-11 "></use>
                              </svg></a>
                        </li>
                        <li class="team-social-li ">
                            <a clas="link " href=" # " target="_blank " class="team-link "> <svg class="team-icon " width="20 " height="20 ">
                                <use href="./image/icons.svg#icon-linkedin-1 "></use>
                              </svg></a>
                        </li>
                </div>
            </li>
            </ul>
    </div>
</section>