<section class="work">

    <div class="container">
        <h2 class="tittle">Чим ми займаємося</h2>
        <ul class="work-list">
            <li class="work-li">

                <div class="portfolio-relative">
                    <img class=" portfolio-photo " src="./image/box1.jpg " alt="програмування " width="370 " height="294 " />
                    <p class="work-list-p ">Десктопні додатки</p>
                </div>
            </li>
            <li class="work-li ">
                <div class="portfolio-relative">
                    <img src="./image/box2.jpg " alt="адаптацiя " width="370 " height="294 " />
                    <p class="work-list-p ">Мобільні додатки</p>
                </div>
            </li>
            <li class="work-li ">
                <div class="portfolio-relative">
                    <img src="./image/box3.jpg " alt="дизайн " width="370 " height="294 " />
                    <p class="work-list-p ">Дизайнерські рішення</p>
                </div>
            </li>
        </ul>
    </div>
</section>